body{
  margin: auto;
  text-align: center;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr minmax(250px, 1fr);
}

.container_left {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr;
}

.main_sentence {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
}

.main_sentence_left {
  padding-left: 5%;
  padding-right: 30%;
  padding-top: 10%;
}


.main_imgBox {
  padding-top: 10%;
  height: 400px;
  width: 700px;
  float: right;
  overflow: hidden;
  position: relative; 
}

.main_img {
  z-index:10;
  opacity: 0;
  width: 87%;
  height: 378px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 36s 0s infinite;
  animation: anime 36s 0s infinite; 
  mask-repeat:unset;
  -webkit-mask-image: url(/images/mask/mask.png);
            mask-image: url(/images/mask/mask.png);
}

.main_img:nth-of-type(2) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s; }

.main_img:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s; }

.main_img:nth-of-type(4) {
  -webkit-animation-delay: 18s;
  animation-delay: 18s; }

.main_img:nth-of-type(5) {
  -webkit-animation-delay: 24s;
  animation-delay: 24s; }

.main_img:nth-of-type(6) {
  -webkit-animation-delay: 30s;
  animation-delay: 30s; }

  @keyframes anime {
    0% {
          opacity: 0;
      }
      8% {
          opacity: 1;
      }
      17% {
          opacity: 1;
      }
      25% {
          opacity: 0;
          z-index:9;
      }
      100% { opacity: 0 }
  }